@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Basic);

html {
    height: 96%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#fff;
    font-family: 'Source Sans Pro'
}

body {
	background: rgb(43,43,43); /* Old browsers */
}

#header, nav, #state {
	font-family: 'Basic';
}

#header {
	position: fixed;
	top: 0px;
	left:200px;
	right: 0px;
	height:34px;
}

nav {
	position: fixed;
	top: 35px;
	left: 0px;
	width: 200px;
	bottom: 50px;
	overflow: auto;
}

nav > ul > li {
	list-style: none;
}

nav > ul > ul {
	margin-bottom: 14px;
}

nav > ul > ul > li {
	list-style: disc;
}

#main {
	position: fixed;
	top: 35px;
	right: 5px;
	left: 201px;
	bottom: 50px;
	border-width: 1px;
	border-style: solid;
	border-color:#5a6a7a;
	padding: 16px;
}

#main {
	background: rgb(71,71,71); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(71,71,71,1)), color-stop(100%,rgba(43,43,43,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%,rgba(43,43,43,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%,rgba(43,43,43,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%,rgba(43,43,43,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(71,71,71,1) 0%,rgba(43,43,43,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#2b2b2b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#state {
	position: fixed;
	bottom: 12px;
	left: 200px;
	right: 0px;
	text-align: center;
}

.ip {
	width:18px;
	font-size: 20pt;
}